@{
    Layout = null;
    List<Pizza> ListaPizze = new List<Pizza>();
    Pizza margherita = new Pizza("Margerita", "Mozzarella e Pomodoro", "https://www.tavolartegusto.it/wp/wp-content/uploads/2020/05/Pizza-napoletana-Ricetta-della-Pizza-Napoletana-Pizza-Margherita.jpg", 5.99);
    Pizza napoli = new Pizza("Napoli", "Mozzarella, Pomodoro e Alici", "https://www.donnamoderna.com/content/uploads/2021/08/pizza-napoli.jpg", 6.99);
    Pizza diavola = new Pizza("Diavola", "Salame piccante", "https://www.misya.info/wp-content/uploads/2007/08/Pizza-alla-diavola.jpg", 7.99);
    ListaPizze.Add(margherita);
    ListaPizze.Add(napoli);
    ListaPizze.Add(diavola);
}

@foreach(Pizza pizza in ListaPizze) {
    <div>
        <div>@pizza.Nome</div>
        <div>@pizza.Descrizione</div>
        <image src="@pizza.Immagine" style="width: 200px"></image>
        <div>@pizza.Prezzo</div>
    </div>
}


    


